{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
<div class="container">
	<div>
		{% for error in validation_errors %}
		{{error}}
		{% endfor %}
	</div>
<form action="{{ url_for('index') }}" method="POST">
	{{ form.csrf_token }}
	<div>		
		{{wtf.form_field(form.username)}}		
	</div>
	<div>		
		{{wtf.form_field(form.password)}}
	</div>
	<input type="radio" name="remember_me">Remember me	
	<button type="submit" class="btn btn-primary" name="Sign In">Login</button>

</form>
</div>

{% endblock %}